<h1>Welcome</h1>

<div class="container">

        <p>Welcome to the Saffron app, {{name}}!</p>

        <p>You can manage your todos <a routerLink="/todos">here</a></p>
    
</div>

<div class="container">

        <p>Click here to get a customized welcome message: </p>

        <button (click)="getWelcomeMessage()" class="btn btn-success">Get Welcome Message</button>
            
</div>

<div class="container" *ngIf="welcomeMessageFromService">

        <h2>Your customised welcome message.</h2>
        
        {{ welcomeMessageFromService }}
                    
</div>


